@using my_virtual_pets_class_library.DTO;
<div class="card w-25">
    <img class="card-img-top" src="@PetCardData.ImageUrl" alt="Pet card image top"/>
    <div class="card-body">
        <h5 class="card-title">@PetCardData.PetName</h5>
        @* If is not owned by the current user, display "Owned by {OwnerUsername}" *@
        <h6 class="card-subtitle text-muted">@PetCardData.Personality @PetCardData.PetType</h6>
        <p class="card-text">Score: @PetCardData.Score <br/> @PetCardData.Description</p>
    </div>
</div>

@code {
    [Parameter] public required PetCardDataDTO PetCardData { get; set; }
}