@using my_virtual_pets_class_library.Enums;
@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_class_library.DTO;
@rendermode InteractiveAuto

<div class="card mb-4 shadow-lg" style="padding: 5px">
    <div  class="delete" style="margin-left:auto;" @onclick="DeleteFromCollection">
        <Trash></Trash>
    </div>
    <div class="card-title text-center gap-3 m-3">
        <h3 class="fw-bold">@PetCardData.PetName</h3>
        <span class="badge bg-success">VP: @(PetCardData.Score)</span>
    </div>
    <img class="card-img w-75 mx-auto rounded-pill" src="@PetCardData.ImageUrl" alt="Pet card image top"/>
    <div class="card-body">
        <p class="text-muted">@PetCardData.Personality @PetCardData.PetType</p>
        <p class="card-text text-justify">@PetCardData.Description @PetCardData.Description @PetCardData.Description</p>
    </div>
    <div class="card-footer">
        Owner: @PetCardData.OwnerUsername
    </div>
</div>

@code {
    [Parameter] 
    public required PetCardDataDTO PetCardData { get; set; }

    [Parameter]
    public EventCallback<Guid> DeleteMethod { get; set; }
    
    public async Task DeleteFromCollection()
    {
        await DeleteMethod.InvokeAsync(PetCardData.PetId); 
    }
}