@using my_virtual_pets_frontend.Components.Icons
@using my_virtual_pets_class_library.DTO;
@using my_virtual_pets_frontend.Components.Popups
@rendermode InteractiveServer

    
<div class="col-md-4">
<div class="collectioncard pixeltext">
    <div class="delete" @onclick="PopupCall">
        <Trash></Trash>
    </div>
    <div id="popupmain">
        <DeletePopUp @ref="popupRef" Confirm="DeleteFromCollection" />
    </div>
    <div class="card-title text-center gap-3 m-3">
        <h3 class="fw-bold">@PetCardData.PetName.ToLower()</h3>
        <Score petscore="@PetCardData.Score"></Score>
    </div>
    <div class="d-flex justify-content-center">
        <img class="card-img w-75" src="@PetCardData.ImageUrl" alt="Pet card image top"/>
    </div>
    <div class="card-body text-center">
        <p class="text-muted">@PetCardData.Personality.ToString().ToLower() @PetCardData.PetType.ToString().ToLower().Replace('_', ' ')</p>
        @* <p class="card-text text-justify">@PetCardData.Description</p> *@
    </div>
</div>
</div>

@code {
    
    public DeletePopUp popupRef { get; set; }
    
    [Parameter] 
    public PetCardDataDTO PetCardData { get; set; }

    [Parameter]
    public EventCallback<Guid> DeleteMethod { get; set; }
    
    public async Task DeleteFromCollection()
    {
        await DeleteMethod.InvokeAsync(PetCardData.PetId); 
    }
    
    private void PopupCall()
    {
        popupRef.Show("this cannot be undone.", "are you sure? 🥲");
    }

    
}