@using my_virtual_pets_class_library.DTO
@using my_virtual_pets_class_library.Enums
@using my_virtual_pets_frontend.Components.Icons;
@rendermode InteractiveServer

<div class="usercard">
    <div class="container">
        <div class="card">
            <div class="card-title text-center gap-3 m-3">
                <h3 class="fw-bold">hey, @(UserDisplayDto.Username)!</h3>
            </div>
            <div class="card-body text-center">
                <p>name (not visible to others): @UserDisplayDto.FirstName.ToLower() @UserDisplayDto.LastName.ToLower()</p>
                <p>email: @UserDisplayDto.Email</p>
                <p>pets owned: @UserDisplayDto.PetCount</p>
                <p>The type of pet you've favourited the most: @FavePetType</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required UserDisplayDTO UserDisplayDto { get; set; }
    
    [Parameter]
    public required List<PetCardDataDTO> UserFavePets { get; set; }

    public required string FavePetType { get; set; }

    protected override void OnInitialized()
    {
        FavePetType = GetFavouritePetType();
    }

    private string GetFavouritePetType()
    {
        if (UserFavePets.Count == 0)
        {
            return "No pets favourited yet...";
        }
        if (UserFavePets.Count == 1)
        {
            return UserFavePets[0].PetType.ToString();
        }
        
        Dictionary<PetType, int> scoreboard = Enum
            .GetValues(typeof(PetType))
            .Cast<PetType>()
            .SkipLast(1) // ignore "OTHER"
            .ToDictionary(petType => petType, pt => 0);
        
        foreach (PetCardDataDTO favePet in UserFavePets)
        {
            scoreboard[favePet.PetType]++;
        }
        
        var topScore = scoreboard.Values.Max();
        List<string> topScoringPets = scoreboard
            .Where(kvp => kvp.Value >= topScore)
            .Select(kvp => kvp.Key.ToString())
            .ToList();
    
        switch (topScoringPets.Count)
        {
            case 1: return topScoringPets[0].ToLower();
            case 2: return $"{topScoringPets[0]} and {topScoringPets[1]}";
            default:
            {
                string result = "";
                for (int i = 0; i < topScoringPets.Count - 1; i++)
                {
                    result += $"{topScoringPets[i]}, ";
                }
                return result + $"and {topScoringPets[^1]}";
            }
        }
    }
}